<html>
    <head>
        <title>welcome</title>
        <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    </head>
    <body>
        <nav></nav>
        <div class="body-container">
            <div class="form-container">
                <a class="form-elem" href="/signup"><div>Signup</div></a>
                <a class="form-elem" href="/login"><div>Login</div></a>
            </div>
        </div>
    </body>
</html>